<h2 align="center"> <%= @recipe.title.titleize %></h2>

<h3><u>Ingredients</u> :</h3>

<ul>
<% @recipe.ingredients.each do |ingredient| %>
  <li><%= "#{ingredient.name} X #{ingredient.quantity}" %></li>
<% end %>
</ul>
